In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\cesar\appdata\local\programs\python\python38-32\lib\site-packages (20.3.1)
Collecting pip
  Using cached pip-21.0.1-py3-none-any.whl (1.5 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 20.3.1
    Uninstalling pip-20.3.1:
      Successfully uninstalled pip-20.3.1
Successfully installed pip-21.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\cesar\appdata\local\programs\python\python38-32\lib\site-packages (3.0.6)
Requirement already satisfied: jdcal in c:\users\cesar\appdata\local\programs\python\python38-32\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\cesar\appdata\local\programs\python\python38-32\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import openpyxl

In [5]:
work_book = openpyxl.load_workbook('company_revenue.xlsx')

In [8]:
work_book.sheetnames

['Sheet1']

In [9]:
sheet_obj = work_book['Sheet1']

In [10]:
sheet_obj.title

'Sheet1'

In [11]:
sheet_obj['A1']

In [12]:
sheet_obj['A1'].value

'Company'

In [13]:
cell = sheet_obj['B1']

In [14]:
type(cell)

openpyxl.cell.cell.Cell

In [15]:
dir(cell)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind_value',
 '_comment',
 '_hyperlink',
 '_style',
 '_value',
 'alignment',
 'base_date',
 'border',
 'check_error',
 'check_string',
 'col_idx',
 'column',
 'column_letter',
 'comment',
 'coordinate',
 'data_type',
 'encoding',
 'fill',
 'font',
 'has_style',
 'hyperlink',
 'internal_value',
 'is_date',
 'number_format',
 'offset',
 'parent',
 'pivotButton',
 'protection',
 'quotePrefix',
 'row',
 'style',
 'style_id',
 'value']

In [16]:
cell.row    # la celda B1 esta en la 1r fila

1

In [17]:
cell.column  # la celda B1 esta en la 2da columna

2

In [18]:
cell.number_format

'General'

In [19]:
cell.coordinate

'B1'

In [20]:
cell.value

'Country'

In [23]:
sheet_obj['A2'].value +\
', based in '+ sheet_obj['B2'].value +\
' has a revenue of $' + str(sheet_obj['C2'].value) +\
' billion'

'Walmart, based in United States has a revenue of $514 billion'

In [24]:
sheet_obj.cell(row=1, column=2)

In [25]:
sheet_obj.cell(row=1, column=2).value

'Country'

In [26]:
sheet_obj.max_row

11

In [27]:
sheet_obj.max_column

3

In [28]:
max_col = sheet_obj.max_column

In [30]:
  for i in range(1, max_col +1): 
    cell_obj = sheet_obj.cell(row=1, column=i)
    print(cell_obj.value)

Company
Country
Revenu (billion $)

In [31]:
max_row = sheet_obj.max_row

In [32]:
  for i in range(1, max_row +1): 
    cell_obj = sheet_obj.cell(row=i, column=1)
    print(cell_obj.value)

Company
Walmart
Sinopec Group
Royal Dutch Shell
China National Petroleum
State Grid
Saudi Aramco
BP
Exxon Mobil
Volkswagen
Toyota Motors

In [33]:
  for i in range(1, max_row +1): 
    cell_obj = sheet_obj.cell(row=i, column=2)
    print(cell_obj.value)

Country
United States
China
Netherlands
China
China
Saudi Arabia
Inited Kingdom
United States
Germany
Japan

In [34]:
sheet_obj['A1':'C2']

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>),
 (<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>))

In [37]:
for rows in sheet_obj['A1':'C2']:
    for cell in rows:
        print(cell.coordinate, cell.value)
    print('-----------------------')

A1 Company
B1 Country
C1 Revenu (billion $)
-----------------------
A2 Walmart
B2 United States
C2 514
-----------------------

In [39]:
for row in sheet_obj.iter_rows(min_row=1,   # iter mode , same --> sheet_obj['A1':'C2']
                              max_row=2,
                              min_col=1,
                              max_col=3):
    print(row)

(<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>)
(<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>)

In [40]:
for value in sheet_obj.iter_rows(min_row=1,   # iter mode , value --> sheet_obj['A1':'C2']
                              max_row=2,
                              min_col=1,
                              max_col=3,
                              values_only=True):
    print(value)

('Company', 'Country', 'Revenu (billion $)')
('Walmart', 'United States', 514)

In [42]:
for column in sheet_obj.iter_cols(min_row=1,   # iter mode , value --> sheet_obj['A1':'C2']
                                  max_row=3,
                                  min_col=1,
                                  max_col=3,
                                  values_only=True):
    print(column)

('Company', 'Walmart', 'Sinopec Group')
('Country', 'United States', 'China')
('Revenu (billion $)', 514, 415)

In [43]:
import json

In [44]:
revenues = {}

In [46]:
for row in sheet_obj.iter_rows(min_row=2,   # iter mode , same --> sheet_obj['A1':'C2']
                               max_row=4,
                               min_col=1,
                               max_col=3,
                               values_only=True):
    rep = row[0]
    rev_details = {
        
        "Country": row[1],
        "Revenue": row[2],
    }
    
    revenues[rep] = rev_details

In [47]:
print(json.dumps(revenues, indent=4, sort_keys=True))

{
    "Royal Dutch Shell": {
        "Country": "Netherlands",
        "Revenue": 397
    },
    "Sinopec Group": {
        "Country": "China",
        "Revenue": 415
    },
    "Walmart": {
        "Country": "United States",
        "Revenue": 514
    }
}